<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}

        {% endblock %} | Flask app
    </title>

    <!-- Connect bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Connect static css -->
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }} ">
    <!-- Connect jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Connect popper js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <!-- Connect bootstrap js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
    
    <!-- Navigation menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <!-- Brand button -->
        <a class="navbar-brand" href=" {{ url_for('index') }} ">Flask</a>

        <!-- Collapse menu button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Navigation bar -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <li {% if title == title %}class="nav-item active" {% endif %}>
                    <a class="nav-link" href=" {{ url_for('posts.index') }} ">Blog <span class="sr-only">(current)</span></a>
                </li>

                <li {% if title == title %} class="nav-item active" {% endif %}>
                    <a class="nav-link" href="{{ url_for('posts.create_post') }}">Login</a>
                </li>                

            </ul>
        
            <!-- Button to create new post -->
            <ul class="navbar-nav mr-1 mt-2 mt-lg-0">
                
                <!-- Define if current user is admin to create post -->
                <li {% if title == title %} class="nav-item active" {% endif %}>
                    {% if current_user.has_role('admin') %}
                        <a class="nav-link" href="/admin">Admin</a>
                    {% endif %}
                </li>

            </ul>

            <!-- Search form -->
            <form class="form-inline my-2 my-lg-0" method="GET">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" name="query" value="{{ request.args.get('query', '') }}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

        </div>
    </nav>

    <!-- Main section -->
    <div class="container">
        <div class="row" style="display: block; margin-top: 1.5rem;">
            <div class="offset-md-3 col-md-6">
                <h1>
                    {% block content_title %}

                    {% endblock %}
                </h1>

                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>