<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>

        {% block title %}

        {% endblock %} | Flask app

    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    
    <!-- Navigation menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <!-- Brand button -->
        <a class="navbar-brand" href=" {{ url_for('index') }} ">Flask</a>

        <!-- Collapse menu button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Navigation bar -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <li {% if title == title %}class="nav-item active" {% endif %}>
                    <a class="nav-link" href=" {{ url_for('posts.index') }} ">Blog <span class="sr-only">(current)</span></a>
                </li>

                <li {% if title == title %} class="nav-item active" {% endif %}>
                    <a class="nav-link" href="{{ url_for('posts.create_post') }}">New post</a>
                </li>

            </ul>
            
            <!-- Search form -->
            <form class="form-inline my-2 my-lg-0" method="GET">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" name="query" value="{{ request.args.get('query', '') }}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

        </div>
    </nav>

    <div class="container">
        <div class="row" style="display: block">

            <h1>
                {% block content_title %}

                {% endblock %}
            </h1>

            {% block content %}

            {% endblock %}
            
        </div>
    </div>

</body>
</html>