{% extends 'base.html' %}


{% block title %}

    Index page

{% endblock %}


{% block content_title %}
    Main page
{% endblock %}


{% block content %}

	<h4>Lorem ipsum dolor sit amet.</h4>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae voluptates a et perferendis totam. Cupiditate, commodi suscipit explicabo sequi ea. Omnis incidunt aut est libero quia nobis laudantium ducimus eligendi enim ullam veritatis eum minima, dicta impedit voluptas sunt, tempore itaque reiciendis magnam in eius rem. Eveniet, est, sunt ad mollitia possimus provident obcaecati animi.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae voluptates a et perferendis totam. Cupiditate, commodi suscipit explicabo sequi ea. Omnis incidunt aut est libero quia nobis laudantium ducimus eligendi enim ullam veritatis eum minima, dicta impedit voluptas sunt, tempore itaque reiciendis magnam in eius rem. Eveniet, est, sunt ad mollitia possimus provident obcaecati animi.</p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae voluptates a et perferendis totam. Cupiditate, commodi suscipit explicabo sequi ea. Omnis incidunt aut est libero quia nobis laudantium ducimus eligendi enim ullam veritatis eum minima, dicta impedit voluptas sunt, tempore itaque reiciendis magnam in eius rem. Eveniet, est, sunt ad mollitia possimus provident obcaecati animi.</p>

	<h4>Lorem ipsum dolor sit amet.</h4>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae voluptates a et perferendis totam. Cupiditate, commodi suscipit explicabo sequi ea. Omnis incidunt aut est libero quia nobis laudantium ducimus eligendi enim ullam veritatis eum minima, dicta impedit voluptas sunt, tempore itaque reiciendis magnam in eius rem. Eveniet, est, sunt ad mollitia possimus provident obcaecati animi.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae voluptates a et perferendis totam. Cupiditate, commodi suscipit explicabo sequi ea. Omnis incidunt aut est libero quia nobis laudantium ducimus eligendi enim ullam veritatis eum minima, dicta impedit voluptas sunt, tempore itaque reiciendis magnam in eius rem. Eveniet, est, sunt ad mollitia possimus provident obcaecati animi.</p>

{% endblock %}